#calculator
{
  width: 500px;
  height: auto;
  position:absolute;
  left: 500px;
  top:100px;
}

#box
{
  width:auto;
  margin: 20px;
  height: 40px;

}

input
{
  width:auto;
  height:30px;
}
#position_history_box
{
  position: absolute;
  left: 1000px;
  top: 100px;
}
.history_box
{
  width: 350px;
  height:350px;
}

button
{
  position:relative;
  left:50px;
  width:75px;
  padding: 10px;
  margin-top: 5px;
  margin-right: 0px;
}

.zero
{
  position: relative;
  left: 69px;
}

.equal_to
{
  position: relative;
  top: -47px;
  left: 2px;

}

.refresh
{
  position: relative;
  top: 50px;
  left: -190px;
  width:238px;
}

.operators
{
  position:relative;
  margin-left: 0px;
  width:56px;

}

.paranthesis
{
  width: 37px;
}
